body {
    margin: 60px auto;
    width: 70%;
    background: black;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}

.typer{
    display: inline;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 1.4s infinite;
    -moz-animation: blink 1.4s infinite;
    animation: blink 1.4s infinite;
    position: relative;
    top: -5px;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

h1 {
    font-size: 3em;
    font-family:'Inconsolata', 'Arial', 'Sans-Serif';
    color: #00FB30;
}
p, span {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: local('Inconsolata'), url(https://fonts.gstatic.com/s/inconsolata/v12/BjAYBlHtW3CJxDcjzrnZCLrIa-7acMAeDBVuclsi6Gc.woff) format('woff');
}
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 700;
  src: local('Inconsolata Bold'), local('Inconsolata-Bold'), url(https://fonts.gstatic.com/s/inconsolata/v12/AIed271kqQlcIRSOnQH0yRbnBKKEOwRKgsHDreGcocg.woff) format('woff');
}

*{
    /*font-family: courier;*/
    font-family: 'helvetica';
    font-family: 'Inconsolata' ;
    font-weight: 100;
    /*letter-spacing: .025rem;*/
}

p, span {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #FFF;
}