* {
	font-family: sans-serif;
}

#container {
	width: 500px;
	margin: 0 auto;
}

#header {
	margin: 0 auto;
	text-align: center;
}

#time-selector {
	margin: 0 auto;
	text-align: center;
}

#results {
	padding-top: 10px;
	margin: 0 auto;
	text-align: left;
	line-height: 2em;
	width: 500px;
}

.room {
	float: left;
}

.res {
	float: right;
}

.cell {
	width: 100%;
	height: auto;
	clear: both;
	border-bottom: dotted;
}