* {
	font-family: sans-serif;
}

#header {
	margin: 0 auto;
	text-align: center;
}

#selector {
	margin: 0 auto;
	text-align: center;
}

#results {
	padding-top: 10px;
	margin: 0 auto;
	text-align: center;
	line-height: 2em;
}